main {
	padding-top: 90px;
}
.container {
	padding-right: 10px;
	padding-left: 10px;
	
}
nav {
	
	height: 60px;
	background-color: lightgray;
	position: fixed;
	width: 100%;
	
}
nav .NameLogo {
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
nav ul {
	display: inline-block;
	list-style: none;
	margin-left: 70%;

	
	}
	nav li {
		display: inline-block;
		
	}
	.page {
		padding-left: 100px;
		border-radius: 5px;
		width: 400px;


	}

	
	.PreNext {
	padding-left: 100px;
	border-radius: 10px;
	font-size: 0px;
	}
	.results {
		padding: 0;
	}
	.type {
		list-style: : none;
		margin-bottom: 15px;
		padding-left: 100px;
	}
	.type_date, .type_loc {
color: #999;
	}
	.type_descr {
		font-weight: bold;
	}
	.fa-star {
		color: #999;	

	}
	.type .fa-star:hover {
	color: yellow;
			}
